.skip{
    border-top-left-radius: 15px !important; 
    border-bottom-left-radius: 15px !important; 
    margin-top: 10%;
    background: linear-gradient(90deg, #045280 0%, #031f3a 100%);
    float: right;
    padding: 3%;
    padding-left: 15%;
    padding-right: 15%;
    color: #ffffff;
    font-size: 80%;
}