<ion-content ion-padding style="padding: 5% !important;">



  <div style="font-family: Poppins;" class="cover">

    <div class="logo">
      <img style="border-radius: 50%;" src="/assets/Logos/icon.png" width="100px" alt="">
      <div class="log">
        <!-- <fa-icon [icon]="['fas', 'street-view']"  slot="end"></fa-icon> -->
        Aca<span style="color: #ff9029 !important;">demia</span>
      </div>

    </div>


    <div class="top">
      <span class="bolde">
        Register!
      </span>
      <div class="incorrect">
       <span *ngIf="incorrect || incorrects" class="wrong"> Something went Wrong!!! </span>
        <p *ngIf="incorrects" class="graph">
          Please check your internet connection !
        </p>
        <p *ngIf="incorrect" class="graph">
          This email exists please, <b>login</b> to continue
        </p>
      </div>
     
    </div>

    <form [formGroup]="formModel" (ngSubmit)="registration()" >

      <ion-list style="margin-top: 5% !important;">
        <ion-item>
          <ion-label position="floating"> Full Name</ion-label>
          <ion-input class="form-control" formControlName="fullName" type="text"
            style="padding-left: 10px !important;" value=""></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating"> Email address</ion-label>
          <ion-input class="form-control" formControlName="email" type="text"
            style="padding-left: 10px !important;" value=""></ion-input>
        </ion-item>
        <ion-label style="color:  #ff9029; font-size: 70%;" class="text-danger" *ngIf="formModel.get('email').touched && 
        formModel.get('email').errors?.required">
          This field is required
        </ion-label>
        <div formGroupName="pins">

          <ion-item>
            <ion-label position="floating"> Pin</ion-label>
            <ion-input class="form-control" formControlName="pin" [type]="passwordType"
             style="padding-left: 10px !important;"></ion-input>
            <ion-icon [name]="passwordShown === true ? 'eye' : 'eye-off' " color="gray" slot="end"
              (click)="togglePassword()"></ion-icon>
          </ion-item>
          <ion-label style="color:  #ff9029; font-size: 70%;" class="text-danger"
            *ngIf="formModel.get('pins.pin').touched && formModel.get('pins.pin').errors?.required">
            This field is required
          </ion-label>
          <ion-label style="color:  #ff9029; font-size: 70%;" class="text-danger" *ngIf="incorrect">
            Email or Password Incorrect
          </ion-label>
          <ion-item>
            <ion-label position="floating">Repeat Pin</ion-label>

            <ion-input class="form-control" formControlName="confirmPin" [type]="passwordType"
              style="padding-left: 10px !important;"></ion-input>
            <ion-icon [name]="passwordShown === true ? 'eye' : 'eye-off' " color="gray" slot="end"
              (click)="togglePassword()"></ion-icon>


          </ion-item>
          <ion-label style="color:  #ff9029; font-size: 70%;" class="text-danger" *ngIf="formModel.get('pins.confirmPin').touched 
          && formModel.get('pins.confirmPin').errors?.required">
            This field is required
          </ion-label>
          <ion-label style="color:  #ff9029; font-size: 70%;" class="text-danger" *ngIf="formModel.get('pins.confirmPin').touched 
             && formModel.get('pins.confirmPin').errors?.passwordMismatch">
            Passwords must match
          </ion-label>
        </div>
        <!-- <div style="font-size: 80% !important; margin: 4%;">
          <ion-checkbox checked="true"></ion-checkbox>
          <ion-label> I agree to the terms and condition</ion-label>
        </div><br> -->
        <ion-button type="button"  [disabled]= "!formModel.valid" expand="block" (click)="registration()" class="sub">Register
          <ion-spinner style="font-size: 60% !important;" *ngIf="spinner" color="tertiary" name="bubbles"></ion-spinner> 
        </ion-button>

        <div style="text-align: center !important;  margin-top: 5% !important; ">
          Already have an account? <span (click)="signIn()" style="color:  #ff9029;">Sign In</span>
        </div>
      </ion-list>


    </form>
  </div>
  <ion-footer style="margin-bottom: 0% !important;">
    <div style="text-align: center; padding-top: 10% !important; margin-bottom: 0 !important; font-family: Poppins;">
      copyright © AvaStan 2020
    </div>
  </ion-footer>
</ion-content>