
<div class="top fixed-top one">
   
    <div class="">
        
        <a class="navbar-brand" href="#"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        <!-- <div class="half-top">
            <a class="what">
                <img src="./assets/logo/whatsapp.png" width="20px" alt=""> Chat with us on whatsapp
            </a>
            <a class="what">
                <i glyphicon="logo-whatsapp"></i> 01-2715000
                or
            </a>
            <a>
                0700CALLARM
            </a>
            <button type="button" class=" topbtn"> Get Started</button>
        </div> -->
        <!-- <hr> -->
        <img routerLink="home" src="./assets/logo/arm-logo.png" width="100px" alt="">
        <div class="half-bottom navbar-collapse"  id="navbarText">

            <ul>
            <div class="dropdown">
                <button  (click)="home()" class="dropbtn">Home</button>
            </div>
            <div class="dropdown">
                <button class="dropbtn">ABOUT US</button>
            </div>
            
            <div class="dropdown">
                <button class="dropbtn">SOLAR PLANS <i class="fas fa-caret-down"></i></button>
                <div class="dropdown-content">
                    <a href="#"> <div class="more">
                        <b>Contributory Scheme</b> <br>
                        <span class="below">For people with different plans.</span>
                    </div>
                    <hr>
                    </a>
                    <a href="#"> <div class="more">
                        

                        <b>Micro Scheme</b> <br>
                        <span class="below">For traders, artisans, professionals and <br>
                            other self employed people</span>
                    </div>
                    <hr>
                    </a>
                    <a href="#"> <div class="more">
                        <b>Contributory Scheme</b>
                    </div>
                    <hr>
                    </a>
                    <a href="#"> <div class="more">
                        <b>Benefits Payment</b>
                    </div>
                    </a>
                </div>
            </div>
            <div class="dropdown">
                <button class="dropbtn">MULTI FUND STRUCTURE </button>
            </div>
            <div class="dropdown">
                <button class="dropbtn">PORTALS <i class="fas fa-caret-down"></i></button>
                <div class="dropdown-content">
                    <a href="#">Engage Client Portal</a>
                    <a href="#">Engage Employer Portal</a>
                    <a href="#">Onboarding</a>
                    <a href="#">Data Recapture</a>
                    <a href="#">Walk Into Tomorrow</a>
                    <a href="#">Client Lifestyle Planner</a>
                    <a href="#">CMicr Pay</a>
                    <a href="#">ARM Esteem</a>
                    <a href="#">Chat with Jane</a>
                </div>
            </div>
            <div class="dropdown">
                <button class="dropbtn">MEDIA <i class="fas fa-caret-down"></i></button>
                <div class="dropdown-content">
                    <a href="#">Resource Files</a>
                    <a  (click)="blog()">BLog</a>
                </div>
            </div>

            <div class="dropdown">
                <button class="dropbtn">CONTACT <i class="fas fa-caret-down"></i></button>
                <div class="dropdown-content">
                    <a (click)="contact()">Contact Us</a>
                    <a href="#">FAQ</a>
                </div>
            </div>
        </ul>
        </div>
        
    </div>
</div>

<!-- ///////////////////////////////////////////////// -->

<div class="top fixed-top two">
    <img class="m-3" routerLink="home" src="./assets/logo/arm-logo.png" width="100px" alt="">
<nav class="navbar navbar-expand-lg sticky-top navbar-light half-bottom">
  <button class="navbar-toggler tog" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav throw">
        <li>
        <div class="dropdown">
            <button  (click)="home()" class="dropbtn">Home</button>
        </div>
    </li>
    <li>
        <div class="dropdown">
            <button class="dropbtn">ABOUT US</button>
        </div>
    </li>
    <li>
        <div class="dropdown">
            <button class="dropbtn">RETIREMENT PLANS <i class="fas fa-caret-down"></i></button>
            <div class="dropdown-content">
                <a href="#"> <div class="more">
                    <b>Contributory Scheme</b> <br>
                    <span class="below">For people employed in the private or public sector.</span>
                </div>
                <hr>
                </a>
                <a href="#"> <div class="more">
                    

                    <b>Micro Scheme</b> <br>
                    <span class="below">For traders, artisans, professionals and <br>
                        other self employed people</span>
                </div>
                <hr>
                </a>
                <a href="#"> <div class="more">
                    <b>Contributory Scheme</b>
                </div>
                <hr>
                </a>
                <a href="#"> <div class="more">
                    <b>Benefits Payment</b>
                </div>
                </a>
            </div>
        </div>
    </li>
    <li>
        <div class="dropdown">
            <button class="dropbtn">MULTI FUND STRUCTURE</button>
        </div>
        </li>
        <li>
        <div class="dropdown">
            <button class="dropbtn">PORTALS <i class="fas fa-caret-down"></i></button>
            <div class="dropdown-content">
                <a href="#">Engage Client Portal</a>
                <a href="#">Engage Employer Portal</a>
                <a href="#">Onboarding</a>
                <a href="#">Data Recapture</a>
                <a href="#">Walk Into Tomorrow</a>
                <a href="#">Client Lifestyle Planner</a>
                <a href="#">CMicr Pay</a>
                <a href="#">ARM Esteem</a>
                <a href="#">Chat with Jane</a>
            </div>
        </div>
    </li>
    <li>
        <div class="dropdown">
            <button class="dropbtn">MEDIA <i class="fas fa-caret-down"></i></button>
            <div class="dropdown-content">
                <a href="#">Resource Files</a>
                <a  (click)="blog()">BLog</a>
            </div>
        </div>
        </li>
        <li>
        <div class="dropdown">
            <button class="dropbtn">CONTACT <i class="fas fa-caret-down"></i></button>
            <div class="dropdown-content">
                <a  (click)="contact()">Contact Us</a>
                <a href="#">FAQ</a>
            </div>
        </div>
    </li>
      
    </ul>
    <!-- <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form> -->
  </div>
</nav>
</div>
