.half-top{
    float: right !important;
    right: 0px;
    margin-right: 0px;
    color: #cc0a82 !important;
    font-size: 75% !important;
    font-weight: bold;
}

.topbtn{
    background-color: #ee4d1c;
    border: none !important;
    padding: 11px 15px 11px 15px;
    color: #ffffff;
    font-size: 120%;
    font-weight: bold;
}
.half-bottom{
    float: right !important;
}

.navbar-brand{
    height: max-content !important;
}

/* Dropdown Button */
.dropbtn {
    background-color: #ffffff;
    color: #4b4a4a;
    padding: 16px;
    padding-bottom: 2px;
    font-size: 13px;
    font-weight: bold;
    border: none;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
    padding-bottom: 0px;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    width: max-content;
    background-color: #f1f1f1;
    /* min-width: 200px;
    max-width: max-content; */
    padding: 3% 8% 3% 8%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }

  .below{
    font-size: 80%;
    color: #4b4a4a;
  }

  a hr{
    margin: 0;
  }

  b{
    color: #707070;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 5px 5px;
    text-decoration: none;
    display: block;
  }
  .top{
      padding: 3% 8% 3% 8%;
      box-shadow: 2px 0px 3px 2px #7a7878;
      background-color: #ffffff;
  }

  hr{
      /* border: 1px solid #637464 !important; */
      /* margin: 20%; */
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #ddd;}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {display: block;}
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {border-bottom: 3px solid #ee4d1c;}

  .two{
    display: none;
  }

  .fas{
    color: #ee4d1c !important;
  }
  

  /* On screens that are 600px or less, set the background color to olive */
@media screen and (max-width: 600px) {
  .half-top {
    display: none;
  }

  .throw{

    padding-left: 0% !important;
    margin-left: -20% !important;
  }

  ul, li{
    padding-left: 0% !important;
    margin-left: 0% !important;
  }

  .dropdown-content{
    position: absolute;
    /* left: -30%; */
    /* opacity: 0.9; */
  }
  .top{
    padding-left: 0%;
  }

  .half-bottom{
    padding-right: 10%;
    padding-left: 0% !important;
  }

  .one{
    display: none;
  }
  .two{
    display: block;
  }

.tog{
  position: fixed;
  top: 3%;
  right: 2%;
  z-index: inherit 200;
}

#navbarSupportedContent{
  /* position: absolute; */
  opacity: 0.9;

}
}
