
  <!-- <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar> -->

  <ion-content [fullscreen]="true">


 
    <div id="container">
   
      <div class="school">
        
    <!-- <ion-icon name="arrow-dropdown"></ion-icon> -->
      <div class="schools">
      <ion-grid>
        <ion-row>
          
          <ion-col class="image-col"  size="4"  (click)="schools('ui')">
            <img class="image" src="./assets/Logos/UI.jfif" alt=""><br>
             <ion-label class="image-label">UI</ion-label>
          </ion-col>
          <ion-col class="image-col"  size="4"  (click)="schools('unilag')">
            <img class="image" src="./assets/Logos/Unilag.png" alt=""><br>
             <ion-label class="image-label">UNILAG</ion-label>
          </ion-col>
          <ion-col class="image-col"  size="4"  (click)="schools('Futa')">
            <img class="image" src="./assets/Logos/Futa.jfif" alt=""><br>
             <ion-label class="image-label">FUTA</ion-label>
          </ion-col>
        
          <ion-col class="image-col" size="4"  (click)="schools('oau')">
            <img class="image" src="./assets/Logos/oau.jfif" alt=""><br>
             <ion-label class="image-label">OAU</ion-label>
          </ion-col>
          <ion-col class="image-col"  size="4"  (click)="schools('lasu')">
            <img class="image" src="./assets/Logos/Lasu.jfif" alt=""><br>
             <ion-label class="image-label">LASU</ion-label>
          </ion-col>
          <ion-col class="image-col"  size="4"  (click)="schools('eksu')">
            <img class="image" src="./assets/Logos/Eksu.jpg" alt=""><br>
             <ion-label class="image-label">EKSU</ion-label>
          </ion-col>
          <ion-col class="image-col"  size="4"  (click)="schools('futo')">
            <img class="image" src="./assets/Logos/Futo.jpg" alt=""><br>
             <ion-label class="image-label">FUTO</ion-label>
          </ion-col>
        
          <ion-col class="image-col" size="4"  (click)="schools('unn')">
            <img class="image" src="./assets/Logos/Unn.jfif" alt=""><br>
             <ion-label class="image-label">UNN</ion-label>
          </ion-col>
          <ion-col class="image-col"  size="4"  (click)="schools('lautech')">
            <img class="image" src="./assets/Logos/lautech.png" alt=""><br>
             <ion-label class="image-label">LAUTECH</ion-label>
          </ion-col>
          <ion-col class="image-col"  size="4"  (click)="schools('futminna')">
            <img class="image" src="./assets/Logos/futminna.jpg" alt=""><br>
             <ion-label class="image-label">FUTMINNA</ion-label>
          </ion-col>
          <ion-col class="image-col" size="4" (click)="schools('jamb')" >
            <img class="image" src="./assets/Logos/jamb.jfif" alt=""><br>
            <ion-label class="image-label">JAMB</ion-label>
          </ion-col>
          <ion-col class="image-col"  size="4"  (click)="more()">
            <ion-icon class="image" color="medium" name="keypad"></ion-icon><br>
            <!-- <img class="image" src="./assets/Logos/Futa.jfif" alt=""><br> -->
             <ion-label class="image-label">More...</ion-label>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </div>
      </div>
  </ion-content>
  