
ion-card{
    border-radius: 5px !important;
}
ion-card-content{
    background-color: #f5f3f3;
    padding-top: 5%;
}

.count{
    font-size: 30px !important;
    color: #e75f11 !important;
    font-weight: bold;
}
.grey{
    color: #818181 !important;
}
